@font-face {
	font-family: 'Montserrat Medium';
	src: url('Montserrat-Medium.eot');
	src: url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
		url('Montserrat-Medium.woff') format('woff'),
		url('Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Thin';
	src: url('Montserrat-Thin.eot');
	src: url('Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
		url('Montserrat-Thin.woff') format('woff'),
		url('Montserrat-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Regular.eot');
	src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('Montserrat-Regular.woff') format('woff'),
		url('Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Extra Bold';
	src: url('Montserrat-ExtraBold.eot');
	src: url('Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('Montserrat-ExtraBold.woff') format('woff'),
		url('Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Semi Bold';
	src: url('Montserrat-SemiBold.eot');
	src: url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('Montserrat-SemiBold.woff') format('woff'),
		url('Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Light';
	src: url('Montserrat-Light.eot');
	src: url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),
		url('Montserrat-Light.woff') format('woff'),
		url('Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('Montserrat-Bold.eot');
	src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('Montserrat-Bold.woff') format('woff'),
		url('Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Extra Light';
	src: url('Montserrat-ExtraLight.eot');
	src: url('Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('Montserrat-ExtraLight.woff') format('woff'),
		url('Montserrat-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Black';
	src: url('Montserrat-Black.eot');
	src: url('Montserrat-Black.eot?#iefix') format('embedded-opentype'),
		url('Montserrat-Black.woff') format('woff'),
		url('Montserrat-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

body {
	font-family: 'Montserrat Light', helvetica;
}
.montserrat-medium {
	font-family: 'Montserrat Medium', helvetica;
}
.montserrat-thin {
	font-family: 'Montserrat Thin', helvetica;
}
.montserrat-extra-bold {
	font-family: 'Montserrat Extra Bold', helvetica;
}
.montserrat-semi-bold {
	font-family: 'Montserrat Semi Bold', helvetica;
}
.montserrat-light {
	font-family: 'Montserrat Light', helvetica;
}
.montserrat-bold {
	font-family: 'Montserrat Bold', helvetica;
}
.montserrat-extra-light {
	font-family: 'Montserrat Extra Light', helvetica;
}
.montserrat-black {
	font-family: 'Montserrat Black', helvetica;
}


























