<section class="bg-primary text-center section-45">                    
            <div class="shell text-lg-left context-dark">
            <div class="range range-xs-middle range-xs-center">
              <div class="cell-lg-6">
                <h4 class="text-white h4white marginbottomsmall">
                  {% if lang == 'en' %}
                       Newsletter. Sign up and receive tips, recipies, and more!
                  {% else %}
                      Boletín. Regístrate y recibe tips, recetas y mucho más!
                  {% endif %}
               </h4>
              </div>
              <div class="cell-sm-8 cell-lg-6 offset-top-20 offset-lg-top-0">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                <form action="//superfuds.us15.list-manage.com/subscribe/post?u=0a9dcc25439a450e7fc9add4d&amp;id=aeddf5fd14" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    <div class="form-group">
                      <label for="sub-email" class="form-label">Enter e-mail</label>
                      <input id="sub-email" type="email" name="EMAIL" data-constraints="@Email @Required" class="form-control" style="height:50px;">
                      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0a9dcc25439a450e7fc9add4d_aeddf5fd14" tabindex="-1" value=""></div>
                    </div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>                  
                    <button class="btn btn-base-variant-1">
                      {% if lang == 'en' %}
                        SUSCRIBE
                      {% else %}
                        SUSCRIBIRSE
                      {% endif %}
                    </button>
                    </div>
                </form>
                </div>
              </div>
            </div>
          </div>  
        </section>
</main>

      <!-- Page Footer-->
      <footer class="page-footer">
        <div class="shell section-70 section-lg-120">
          <div class="range text-md-left">
            <div class="cell-md-4">
              <h5>
                {% if lang == 'en' %}
                  About
                {% else %}
                  Nosotros
                {% endif %}
              </h5>
              <p class="offset-top-20 offset-md-top-36">
                {% if lang == 'en' %}
                  We are the biggest market place specialized in healthy foods that connects suppliers with businesses in Colombia. Clients get favorite healthy brands delivered to their business and suppliers focus in their product and we take care of business.
                {% else %}
                  Somos el marketplace de alimentos saludables más grande del país. Entregamos a clientes sus marcas saludables favoritas y nos encargamos de los negocios para que proveedores puedan concentrarse en su producto.
                {% endif %} 
              </p>
            </div>
            <div class="cell-md-4">
              <h5>
                {% if lang == 'en' %}
                  Recent Posts
                {% else %}
                  Noticias Recientes
                {% endif %}
              </h5>
              {% for r_p in recent_posts %}
                <div class="post-blog-sm offset-top-20 offset-md-top-36"><a style="margin-top:20px;display:block;" href="/blog/1/{{r_p.url}}" class="text-bold">{{r_p.title|convert_encoding('UTF-8', 'ISO-8859-1')}}</a>
                  <p class="small offset-top-7">{{r_p.date|date(' d / m / Y')}}</p>
                </div>
              {% endfor %}
            </div>
            <div class="cell-md-4">
              <h5>
                {% if lang == 'en' %}
                  Allies
                {% else %}
                  Aliados
                {% endif %}
              </h5>
              <ul class="offset-top-20 offset-md-top-36">
                <div class="row">
                  <div class="col-xs-6">
                    <a class="hovernone" href="https://www.fundacionbolivardavivienda.org" target="_blank"><img src="/public/img/emprende.png" class="img hovernone"></a>
                  </div>
                  <div class="col-xs-6">
                    <a class="hovernone" href="https://www.innpulsacolombia.com/" target="_blank"><img src="/public/img/innpulsa.png" class="img hovernone"></a>
                  </div>
                  <div class="col-xs-6 offset-top-20">
                    <a class="hovernone" href="http://endeavor.org/" target="_blank"><img src="/public/img/endeavor.png" class="img hovernone"></a>
                  </div>
                </div>
              </ul>
            </div>
              <div class="cell-md-4">
                <h5 style="display:block;margin-top:30px;">
                  {% if lang == 'en' %}
                    Languages
                  {% else %}
                    Idiomas
                  {% endif %}
                </h5>
                <a href="/idioma/en" class="{% if lang != 'en' %} whitea {% else %} whiteachosen {% endif %}">
                  <img class="flag" src="/public/img/usa.png" alt="USA Superfuds">
                </a>
                <a href="/idioma/es" class="{% if lang != 'es' %} whitea {% else %} whiteachosen {% endif %}">
                  <img class="flag" src="/public/img/col.png" alt="COL Superfuds">
                </a>
              </div>
          </div>
        </div>
        <div class="shell">
          <hr>
        </div>
        <div class="shell section-30">
          <div class="range range-xs-middle">
            <div class="cell-sm-6 text-sm-right cell-sm-push-1">
              <ul class="list-inline listamob">
                <li><span class="small">
                  {% if lang == 'en' %}
                    For tips, recipies, and more!
                  {% else %}
                    Para tips, recetas y más!
                  {% endif %}
                </span></li>
                <li><a href="https://www.facebook.com/superfuds/" target="_blank" class="icon icon-sm text-primary fa-facebook"></a></li>
                <li><a href="https://www.instagram.com/superfuds/?hl=en" target="_blank" class="icon icon-sm text-primary fa-instagram"></a></li>
                <li><a href="https://www.youtube.com/channel/UC4YzleJ0zrgAGHwhV74R_GA" target="_blank" class="icon icon-sm text-primary fa-youtube"></a></li>
              </ul>
            </div>
            <div class="cell-sm-6 text-sm-left offset-top-20 offset-sm-top-0">
              <p class="small">
                {% if lang == 'en' %}
                    Copyright SuperFüds 2017
                {% else %}
                    SuperFüds 2017. Todos los Derechos Reservados.
                {% endif %}
              </a>
              </p>
            </div>
          </div>
        </div>
      </footer>
      <!-- Modal-->
      <div id="loginModal" role="dialog" class="modal fade">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" data-dismiss="modal" class="close mdi mdi-window-close"></button>
              <!-- Nav tabs-->
              <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
                <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
                <li role="presentation"><a href="#register" aria-controls="register" role="tab" data-toggle="tab">Register</a></li>
              </ul>
              <!-- Tab panes-->
              <div class="tab-content offset-top-20">
                <div id="login" role="tabpanel" class="fade in tab-pane active">
                  <form method="post" class="offset-top-40 rd-mailform text-left">
                    <div class="form-group">
                      <label for="login-name" class="form-label">User name</label>
                      <input id="login-name" type="text" name="name" data-constraints="@Required" class="form-control">
                    </div>
                    <div class="form-group offset-top-7">
                      <label for="login-password" class="form-label">Password</label>
                      <input id="login-password" type="password" name="password" data-constraints="@Required" class="form-control">
                    </div>
                    <div class="offset-top-20 text-center text-sm-left">
                      <button type="submit" class="btn btn-block btn-primary">login</button>
                    </div>
                  </form>
                </div>
                <div id="register" role="tabpanel" class="fade in tab-pane">
                  <form method="post" class="offset-top-40 rd-mailform text-left">
                    <div class="form-group">
                      <label for="register-name" class="form-label">User name</label>
                      <input id="register-name" type="text" name="name" data-constraints="@Required" class="form-control">
                    </div>
                    <div class="form-group offset-top-7">
                      <label for="register-email" class="form-label">Email</label>
                      <input id="register-email" type="email" name="email" data-constraints="@Email @Required" class="form-control">
                    </div>
                    <div class="offset-top-20 text-center text-sm-left">
                      <button type="submit" class="btn btn-block btn-primary">register</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="registerModal" role="dialog" class="modal fade">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" data-dismiss="modal" class="close mdi mdi-window-close"></button>
              <!-- Nav tabs-->
              <ul role="tablist" class="nav nav-tabs nav-tabs-custom">
                <li role="presentation"><a href="#login-2" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
                <li role="presentation" class="active"><a href="#register-2" aria-controls="register" role="tab" data-toggle="tab">Register</a></li>
              </ul>
              <!-- Tab panes-->
              <div class="tab-content offset-top-20">
                <div id="login-2" role="tabpanel" class="fade in tab-pane">
                  <form method="post" class="offset-top-40 rd-mailform text-left">
                    <div class="form-group">
                      <label for="login-name-2" class="form-label">User name</label>
                      <input id="login-name-2" type="text" name="name" data-constraints="@Required" class="form-control">
                    </div>
                    <div class="form-group offset-top-7">
                      <label for="login-password-2" class="form-label">Password</label>
                      <input id="login-password-2" type="password" name="password" data-constraints="@Required" class="form-control">
                    </div>
                    <div class="offset-top-20 text-center text-sm-left">
                      <button type="submit" class="btn btn-block btn-primary">login</button>
                    </div>
                  </form>
                </div>
                <div id="register-2" role="tabpanel" class="fade in tab-pane active">
                  <form method="post" class="offset-top-40 rd-mailform text-left">
                    <div class="form-group">
                      <label for="register-name-2" class="form-label">User name</label>
                      <input id="register-name-2" type="text" name="name" data-constraints="@Required" class="form-control">
                    </div>
                    <div class="form-group offset-top-7">
                      <label for="register-email-2" class="form-label">Email</label>
                      <input id="register-email-2" type="email" name="email" data-constraints="@Email @Required" class="form-control">
                    </div>
                    <div class="offset-top-20 text-center text-sm-left">
                      <button type="submit" class="btn btn-block btn-primary">register</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7AlnVIA1B_wmQE4No9BHwtv90QfSqPqg"></script>
<script type="text/javascript" src="/public/js/script.min.js"></script>
<script type="text/javascript">
  
  $(".signup").click(function() {
      $('html, body').animate({
          scrollTop: $(".page").offset().top
      }, 1000);
  });
  
  $('.flexslider').flexslider({
    animation: "slide",
    pauseOnHover: false,
    slideshowSpeed: 5000
  });

  $('.clientsupchoice').click(function(){
    $('.clientsupchoice').removeClass('chosen');
    $(this).addClass('chosen');
    var value = $(this).attr('value');
    $('#type_input').attr('value', value);
  });

  // var maxHeight = 0;

  // $('.productosdiv').each(function(){
  //    var thisH = $(this).height();
  //    if (thisH > maxHeight) { maxHeight = thisH; }
  // });

  // $('.productosdiv').height(maxHeight);

</script>
</body>
</html>