<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N3NFMSW');</script>
<!-- End Google Tag Manager -->
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge; charset=utf-8">
    <meta name="description" content="{{meta_description}}">
    <meta name="keywords" content="{{meta_keywords}}">
    <meta name="author" content="{{meta_autor}}">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="msvalidate.01" content=""/>
    <meta name="google-site-verification" content="" />
    <meta name="p:domain_verify" cosntent=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="image" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />
    <title>{{ _APP_NAME|capitalize }} | Estrategias Digitales | {{ page_name|capitalize }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/icomoon/style.css"> 
    <link rel="stylesheet" type="text/css" href="/public/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/muli/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/montserrat/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/icomoon/style.css">
    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
	<link href=”” rel=”publisher” />    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N3NFMSW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-header bg-image-01">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-sm-stick-up-offset="50px" data-md-stick-up-offset="10px" data-lg-stick-up-offset="150px" class="rd-navbar rd-navbar-minimal rd-navbar-transparent">
            <button data-rd-navbar-toggle=".rd-navbar-collapse" class="rd-navbar-collapse-toggle"><span></span></button>
            <div class="rd-navbar-top-panel rd-navbar-collapse">
              <div class="rd-navbar-inner" id="have90">
                <div class="small">Please <a class="signup">register</a> to be a client or supplier.</div>
                <ul class="list-inline">
                  <li class="small relativebottom">For recipies, tips, and more!</li>
                  <li><a href="https://www.facebook.com/superfuds/" target="_blank" class="icon icon-sm text-primary fa-facebook"></a></li>
                  <li><a href="https://www.instagram.com/superfuds/?hl=en" target="_blank" class="icon icon-sm text-primary fa-instagram"></a></li>
                  <li><a href="https://www.youtube.com/channel/UC4YzleJ0zrgAGHwhV74R_GA" target="_blank" class="icon icon-sm text-primary fa-youtube"></a></li>
                </ul>
              </div>
            </div>
            <div class="rd-navbar-panel">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-inner">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a href="/" class="brand-name"><img id="logohead" src="/public/img/logosuper.png" width="205" height="27" alt=""></a></div>
                <div class="rd-navbar-contacts rd-navbar-collapse rd-navbar-collapse-2">
                  <span class="semi-small">
                    {% if lang == 'en' %}
                      Get in touch with us
                    {% else %}
                      Contáctanos
                    {% endif %}</span>
                  <div class="pho"><span class="icon fa-phone text-primary phone"></span><a href="tel:+(57)3102516486">(57) 310-251-6486</a></div>
                </div>
              </div>
            </div>
            <div class="rd-navbar-nav-wrap text-right">
              <div class="rd-navbar-inner">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li><a href="/" class="menuitem firstbut buttonhoverwhite {% if page_name == 'Home' %} buttonchosen {% endif %}">
                  {% if lang == 'en' %}
                    Home
                  {% else %}
                    Inicio
                  {% endif %}
                  </a></li>
                  <li><a href="/blog" class="menuitem buttonhoverwhite {% if page_name == 'Blog' %} buttonchosen {% endif %}">Blog</a></li>
                  <li><a href="/products" class="menuitem buttonhoverwhite {% if page_name == 'Products' %} buttonchosen {% endif %}">
                    {% if lang == 'en' %}
                      Our Products
                    {% else %}
                      Productos
                    {% endif %}
                  </a></li>
                  <!-- <li><a href="#" class="buttonhoverwhite">Explore</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="idx-1.html">Products</a></li>
                    </ul>
                  </li> -->  
                  <li><a href="/" class="signup menuitem buttongreen">
                    {% if lang == 'en' %}
                      Login
                    {% else %}
                      Ingresar
                    {% endif %}
                  </a></li>
                  <li><a href="/" class="signup menuitem buttongreen">
                    {% if lang == 'en' %}
                      Sign Up
                    {% else %}
                      Registro
                    {% endif %}
                  </a></li>               
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Page Content-->
      <main class="page-content">