<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N3NFMSW');</script>
<!-- End Google Tag Manager -->
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge; charset=utf-8">
    <meta name="description" content="{{meta_description}}">
    <meta name="keywords" content="{{meta_keywords}}">
    <meta name="author" content="{{meta_autor}}">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="msvalidate.01" content=""/>
    <meta name="google-site-verification" content="" />
    <meta name="p:domain_verify" cosntent=""/>
    <meta name="robots" content="index,follow"/>
    <meta name="image" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />
    <title>Superfuds | {{ page_name|capitalize }} | The Biggest Health Food Marketplace in Colombia</title>
    <link rel="stylesheet" type="text/css" href="/assets/icomoon/style.css"> 
    <link rel="stylesheet" type="text/css" href="/public/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/muli/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/montserrat/stylesheet.css">
    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
  	<link rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
  	<link href=”” rel=”publisher” />    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <meta property="og:image" content="/public/img/fb_post.png" />
    <meta property="og:title" content="SuperFüds | Home | The Biggest Health Food Marketplace in Colombia." />
    <meta property="og:description" content="Distribuimos 200+ Productos Saludables a 16 Ciudades en 400+ Puntos de Venta" />
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N3NFMSW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="page text-center">
    <img src="/public/img/fb_post.png" alt="Logo SuperFüds" id="logo3">
      <!-- Page Header-->
      <header class="page-header bg-image-01">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-sm-stick-up-offset="50px" data-md-stick-up-offset="10px" data-lg-stick-up-offset="150px" class="rd-navbar rd-navbar-minimal rd-navbar-transparent">
            <button data-rd-navbar-toggle=".rd-navbar-collapse" class="rd-navbar-collapse-toggle"><span></span></button>
            <div class="rd-navbar-top-panel rd-navbar-collapse">
              <div class="rd-navbar-inner" id="have90">
                <div class="small">Please <a class="signup">register</a> to be a client or supplier.</div>
                <ul class="list-inline">
                  <li class="small relativebottom">For recipies, tips, and more!</li>
                  <li><a href="https://www.facebook.com/superfuds/" target="_blank" class="icon icon-sm text-primary fa-facebook"></a></li>
                  <li><a href="https://www.instagram.com/superfuds/?hl=en" target="_blank" class="icon icon-sm text-primary fa-instagram"></a></li>
                  <li><a href="https://www.youtube.com/channel/UC4YzleJ0zrgAGHwhV74R_GA" target="_blank" class="icon icon-sm text-primary fa-youtube"></a></li>
                </ul>
              </div>
            </div>
            <div class="rd-navbar-panel">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-inner">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a href="/" class="brand-name"><img id="logohead" src="/public/img/logosuper.png" width="205" height="27" alt=""></a></div>
                <div class="rd-navbar-contacts rd-navbar-collapse rd-navbar-collapse-2"><span class="semi-small">
                  {% if lang == 'en' %}
                      Get in touch with us
                  {% else %}
                      Contáctanos
                  {% endif %}
                </span>
                  <div class="pho"><span class="icon fa-phone text-primary phone"></span><a href="tel:+(57)3102516486">(57) 310-251-6486</a></div>
                </div>
              </div>
            </div>
            <div class="rd-navbar-nav-wrap text-right">
              <div class="rd-navbar-inner">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li><a href="/" class="menuitem firstbut buttonhoverwhite buttonchosen">
                  {% if lang == 'en' %}
                    Home
                  {% else %}
                    Inicio
                  {% endif %}
                  </a></li>
                  <li><a href="/blog" class="menuitem buttonhoverwhite">Blog</a></li>
                  <li><a href="/products" class="menuitem buttonhoverwhite">
                    {% if lang == 'en' %}
                      Our Products
                    {% else %}
                      Productos
                    {% endif %}
                  </a></li>
                  <!-- <li><a href="#" class="buttonhoverwhite">Explore</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="idx-1.html">Products</a></li>
                    </ul>
                  </li> -->  
                  <li><a class="signup menuitem buttongreen">
                    {% if lang == 'en' %}
                      Login
                    {% else %}
                      Ingresar
                    {% endif %}
                  </a></li>
                  <li><a class="signup menuitem buttongreen">
                    {% if lang == 'en' %}
                      Sign Up
                    {% else %}
                      Registro
                    {% endif %}
                  </a></li>               
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div id="myDiv" class="shell section-20 section-lg-120 paddinbottom50 text-md-left">
          <div class="range">
          <div id="heightdiv"></div>
            <div class="cell-lg-7 cell-md-7 homeslider text-center">
              <!-- <img src="/public/img/promo.png" alt="Promo SuperFüds" id="promo"> -->
              <!-- <img src="/public/img/cart.png" alt="Cart SuperFüds" class="textcentermobile" id="cart"> -->
              <hr class="divider veil reveal-md-inline-block" id="mainhomedivider">
                  <p class="montserrat-bold hometext">
                    {% if lang == 'en' %}
                     <span class="bigtexthome marginboth">Join The Biggest <br> Health Food Marketplace <br> in Colombia.</span><br><span class="muli othertext">We Distribute 200+ Healthy Products <br> to 16 Cities in Over 400 Locations.</span>
                    {% else %}
                      <span class="bigtexthome marginboth">Únete al Marketplace de Alimentos Saludables más Grande de Colombia.</span><br><span class="muli othertext">Distribuimos 200+ Productos Saludables a 16 Ciudades en 400+ Puntos de Venta.</span>
                    {% endif %}
                  </p>
              <!-- Owl Carousel-->
              <!-- <div data-items="1" data-dots="true" data-margin="30" data-mouse-drag="false" class="context-dark owl-slider owl-carousel">
                <div class="owl-item">
                  <hr class="divider veil reveal-md-inline-block">
                  <p class="montserrat-bold hometext"><span class="bigtext">THE BIGGEST MARKET PLACE</span> <span class="muli-light-italic">specialized in healthy foods that connects suppliers with businesses.</span></p>
                </div>
                <div class="owl-item">
                  <hr class="divider veil reveal-md-inline-block">
                  <p class="montserrat-bold hometext"><span class="bigtext">THE BIGGEST MARKET PLACE</span> <span class="muli-light-italic">specialized in healthy foods that connects suppliers with businesses.</span></p>
                </div>
              </div> -->
            </div>
            <div class="cell-md-1 cell-lg-1"></div>
            <div class="cell-md-4 cell-lg-4">
              <div class="row">
                {% if lang == 'en' %}
                  <img src="/public/img/promo.png" alt="Promo SuperFüds" id="promo2">
                {% else %}
                  <img src="/public/img/promoesp.png" alt="Promo SuperFüds" id="promo2">
                {% endif %}
              </div>
              <div class="well well-base borderradius wellform">
                <div class="row">

                  {% if accion == '' %}

                    <p class="muli">
                      {% if lang == 'en' %}
                        Sign Up as a Business or Supplier Today.
                      {% else %}
                        Registrate Como Negocio o Cliente.
                      {% endif %}
                    </p>
                    <form class="text-left" method="post" action="/home/continue-register" id="mainform">
                      <div class="form-group">
                        {% if lang == 'en' %}
                          <img src="/public/img/promo.png" alt="Promo SuperFüds" id="promo">
                        {% else %}
                          <img src="/public/img/promoesp.png" alt="Promo SuperFüds" id="promo">
                        {% endif %}
                      </div>
                      <div class="form-group">
                        <label class="form-label-static form-label-outside">
                          {% if lang == 'en' %}
                            Company
                          {% else %}
                            Compañía
                          {% endif %}
                        </label>
                        <input type="text" name="company" placeholder="Any" data-constraints="@Required" class="form-control borderradius" required>
                      </div>
                      <div class="form-group">
                        <label class="form-label-static form-label-outside">
                          {% if lang == 'en' %}
                            Name
                          {% else %}
                            Nombre
                          {% endif %}
                        </label>
                        <input type="text" name="name" placeholder="Any" data-constraints="@Required" class="form-control borderradius" required>
                      </div>
                      <div class="form-group">
                        <label class="form-label-static form-label-outside">
                          {% if lang == 'en' %}
                            Email
                          {% else %}
                            Emails
                          {% endif %}
                        </label>
                        <input type="text" name="email" placeholder="Any" data-constraints="@Required" class="form-control borderradius" required>
                      </div>
                      <div class="form-group">
                        <label class="form-label-static form-label-outside">
                          {% if lang == 'en' %}
                            Phone
                          {% else %}
                            Teléfono
                          {% endif %}
                        </label>
                        <input type="text" name="phone" placeholder="Any" data-constraints="@Required" class="form-control borderradius" required>
                      </div>
                      <div class="form-group offset-top-10">
                        <div class="col-md-6 text-center">
                          <span class="chosen clientsupchoice marginbottomlg" value="business">
                            {% if lang == 'en' %}
                              Business
                            {% else %}
                              Negocio
                            {% endif %}
                          </span>
                        </div>
                        <div class="col-md-6 text-center">
                          <span class="clientsupchoice" value="supplier">
                            {% if lang == 'en' %}
                              Supplier
                            {% else %}
                              Proveedor
                            {% endif %}
                          </span>
                        </div>
                        <input type="hidden" name="type" value="business" id="type_input">
                      </div>
                      <div class="form-group terms">
                        <label class="labelform" id="termins"><input type="checkbox" name="terminos" required>
                          {% if lang == 'en' %}
                            I agree terms of services | <a href="/privacy" target="_blank">Read More</a>
                          {% else %}
                            Acepto Términos de Servicio | <a href="/privacy" target="_blank">Leer Más</a>
                          {% endif %}
                        </label>
                      </div>
                      <div class="form-group">
                        <div class="offset-top-20 col-12-md butsubmit">
                          <button class="btn btn-block btn-primary butformhome">
                            {% if lang == 'en' %}
                              Sign Up
                            {% else %}
                              Registrarse
                            {% endif %}
                          </button>
                        </div>
                      </div>
                    </form>

                  {% else %}

                    <p class="muli">
                      {% if lang == 'en' %}
                        Give Us a Little Bit More of Info.
                      {% else %}
                        Danos un Poco Más de Información.
                      {% endif %}
                    </p>
                    <form class="text-left" method="post" action="/home/continue-register/finalize">
                      <div class="form-group">
                        <label class="form-label-static form-label-outside">
                          {% if lang == 'en' %}
                            City
                          {% else %}
                            Ciudad
                          {% endif %}
                        </label>
                        <input type="text" name="city" placeholder="Any" data-constraints="@Required" class="form-control borderradius" required>
                      </div>
                      <div class="form-group">
                        <label class="form-label-static form-label-outside">
                          {% if lang == 'en' %}
                            Product
                          {% else %}
                            Producto
                          {% endif %}
                        </label>
                        <input type="text" name="product" placeholder="Any" data-constraints="@Required" class="form-control borderradius" required>
                      </div>
                      <div class="form-group">
                        <label class="form-label-static form-label-outside">
                          {% if lang == 'en' %}
                            Comments (Optional)
                          {% else %}
                            Comentarios (Opcional)
                          {% endif %}
                        </label>
                        <textarea type="text" rows="1" name="comments" placeholder="Any" data-constraints="@Required" class="form-control borderradius"></textarea>
                      </div>
                      <input type="hidden" name="email" value="{{email}}">
                      <div class="form-group">
                        <div class="offset-top-20 col-12-md butsubmit">
                          <button class="btn btn-block btn-primary butformhome">
                            {% if lang == 'en' %}
                              Sign Up
                            {% else %}
                              Registrarse
                            {% endif %}
                          </button>
                        </div>
                      </div>
                    </form>

                  {% endif %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Page Content-->
      <main class="page-content">
