@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vgj9ys');
  src:  url('fonts/icomoon.eot?vgj9ys#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vgj9ys') format('truetype'),
    url('fonts/icomoon.woff?vgj9ys') format('woff'),
    url('fonts/icomoon.svg?vgj9ys#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-non-gmo:before {
  content: "\e900";
}
.icon-no-trans:before {
  content: "\e901";
}
.icon-organic:before {
  content: "\e902";
}
.icon-vegan:before {
  content: "\e903";
}
.icon-gluten-free:before {
  content: "\e904";
}
.icon-paleo:before {
  content: "\e905";
}
.icon-no-sugar-added:before {
  content: "\e906";
}

