{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head2.twig') }}

	     <section class="bg-gray-lighter">
          <div class="shell text-left">
            <ol class="breadcrumb">
            {% if accion == 'todos' %}
              <li><a href="./">Home</a></li>
              <li class="active">Blog
              </li>
            {% else %}
              <li><a href="/">Home</a></li>
              <li><a href="/blog">Blog</a></li>
              <li class="active">{{post.title|convert_encoding('UTF-8', 'ISO-8859-1')}}</li>
            {% endif %}

            </ol>
          </div>
        </section>
        <section class="section-top-70 section-bottom-80">
          <div class="shell text-md-left">
            <div class="range">
              <div class="cell-md-8">

              	{% if accion == 'todos' %}

              	{% for post in posts %}

              	    <div class="post-blog">
		                  <h5><a href="/blog/1/{{post.url}}" class="text-base">{{post.title|convert_encoding('UTF-8', 'ISO-8859-1')}}</a></h5>
		                  <p class="post-blog-meta small offset-top-16 textgraydark">{{post.date|date(' d / m / Y')}}</p>
		                  <div class="thumbnail-variant-1"><a href="/blog/1/{{post.url}}"><img src="{{post.img}}" width="886" height="520" alt="" class="img-responsive center-block"></a></div>
		                  <p class="offset-top-20 textgraydark">{{post.sumario|convert_encoding('UTF-8', 'ISO-8859-1')}}</p>
		                  <div class="range offset-top-20 range-xs-middle">
		                    <div class="cell-md-4 text-md-right offset-top-16 offset-md-top-0"><a href="/blog/1/{{post.url}}" class="btn btn-base">
                          {% if lang == 'en' %}
                            Read More
                          {% else %}
                            Leer Más
                          {% endif %}
                        </a></div>
		                  </div>
		                </div>  

              	{% endfor %}	

                <div class="offset-top-30">
	                <!-- Bootstrap Pagination-->
	                <nav>
	                  <ul class="pagination pagination">
                      {% if num_pages == 1 %}
	                       <li class="active"><span>1</span></li>
                      {% else %}
                        {% for i in 1..num_pages %}
                            <li class="{% if i == page %} active {% endif %}"><a href="/blog/{{i}}">{{i}}</a></li>
                        {% endfor %}  	
                      {% endif %}
	                  </ul>
	                </nav>
                </div>
             
           	{% else %}

              <style type="text/css">
                .post_content p,
                .post_content span {
                  color:#333!important;
                }
                .contenido{
                  color:#333!important;
                }
              </style>
           		<h2 class="">{{post.title|convert_encoding('UTF-8', 'ISO-8859-1')}}</h2>
                <p class="small offset-top-16 textgreen">{{post.date|date(' d / m / Y')}}</p>
                <div class="post_content" style="color:#333!important;">
                  {{post.content|convert_encoding('UTF-8', 'ISO-8859-1') | raw}}
                </div>
                <hr>      

            {% endif %}	

              </div>

              <div class="cell-md-4">
                <aside>
                  <div class="range">
                    <div class="cell-md-12">
                      <h3>
                        {% if lang == 'en' %}
                          Search
                        {% else %}
                          Buscar
                        {% endif %}
                      </h3>
                      <!-- RD Search-->
                      <form action="/search-results" method="POST" class="offset-top-40 form-inline-custom rd-search">
                        <div class="form-group form-group-sm">
                          <label for="rd-search-form-input" class="form-label">
                            {% if lang == 'en' %}
                              Enter Keyword
                            {% else %}
                              Buscar
                            {% endif %}
                          </label>
                          <input id="rd-search-form-input" type="text" name="s" autocomplete="off" class="form-control">
                        </div>
                        <button class="btn btn-primary">
                          {% if lang == 'en' %}
                            Search
                          {% else %}
                            Buscar
                          {% endif %}
                        </button>
                      </form>
                    </div>
                    <div class="cell-md-12 offset-top-50">
                      <hr>
                    </div>
                    <div class="cell-md-12 offset-top-40">
                      <h3>
                        {% if lang == 'en' %}
                          Recent Posts
                        {% else %}
                          Noticias Recientes
                        {% endif %}
                      </h3>                      
                        {% for recent_post in recent_posts %}
                          <div class="offset-top-40">
                            <div class="post-blog-thumbnail unit unit-sm-horizontal unit-md-vertical text-sm-left unit-lg-horizontal">
                              <div class="unit-left"><a href="/blog/1/{{recent_post.url}}"><img src="{{recent_post.img}}" width="250" height="139" alt=""></a></div>
                              <div class="unit-body">
                                <h6><a href="/blog/1/{{recent_post.url}}" class="text-base text-bold">A simple recipie to make a low calorie healthy snack!</a></h6>
                                <div class="small offset-top-7">{{recent_post.date|date(' d / m / Y')}}</div>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="cell-md-12 offset-top-50">
                      <hr>
                    </div>
                    <div class="cell-md-12 offset-top-40">
                      <div class="well">
                        <h3>
                          {% if lang == 'en' %}
                            About Us
                          {% else %}
                            Nosotros
                          {% endif %}
                        </h3>
                        <div class="unit unit-lg-horizontal offset-top-30">
                          <div class="unit-left"><img src="/public/img/sb.png" width="140" height="140" alt="" class="img-responsive center-block"></div>
                          <div class="unit-body">
                            <h5>Sebastian Hernandez</h5>
                            <p class="offset-top-10">
                              {% if lang == 'en' %}
                                Hello! My name is Sebastian Hernandez and I'm the CEO of Superfuds!
                              {% else %}
                                Hola! Soy Sebastian Hernandez, CEO de Superfuds!
                              {% endif %}                            
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="cell-md-12 offset-top-50">
                      <hr>
                    </div>
                    <div class="cell-md-12 offset-top-40">
                      <div class="well">
                        <h3>
                          {% if lang == 'en' %}
                            Follow Us!
                          {% else %}
                            Síguenos!
                          {% endif %}  
                        </h3>
                        <ul class="list-inline offset-top-30">
                          <li><a href="https://www.facebook.com/superfuds/" class="icon icon-sm text-white fa-facebook"></a></li>
                          <li><a href="https://www.instagram.com/superfuds/?hl=en" class="icon icon-sm text-white fa-instagram"></a></li>
                          <li><a href="https://www.youtube.com/channel/UC4YzleJ0zrgAGHwhV74R_GA" class="icon icon-sm text-white fa-youtube"></a></li>
                        </ul>
                      </div>
                      <div class="well well-dark">
                        <h3>
                          {% if lang == 'en' %}
                            Best Deal
                          {% else %}
                            Mejor Oferta
                          {% endif %}  
                        </h3>
                        <p class="offset-tpo-10 offset-md-top-25 text-gray">                        
                          {% if lang == 'en' %}
                            Sign up and the first three shippings are free!
                          {% else %}
                            Regístrate y los primeros tres envíos son gratis!
                          {% endif %}  
                        </p>
                        <!-- RD Mailform-->
                        <a href="/" class="btn btn-primary">
                          {% if lang == 'en' %}
                            Sign Up
                          {% else %}
                            Registrarse
                          {% endif %} 
                        </a>
                      </div>
                    </div>
                  </div>
                </aside>
              </div>
            </div>
          </div>
        </section>

{{ include('inc/_footer.twig') }}