{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head.twig') }}

  <section class="bg-white section-70">
    <div class="cont90">
      <div class="row">
        <div class="col-md-12 text-center marginbottommobile">
          <div class="separator separatorgreen separatorleft"></div>
          <h2 class="textbig montserrat-bold colorblue">
            {% if lang == 'en' %}
              Healthy Food Industry
            {% else %}
              Industria Alimentos Saludables
            {% endif %}  
          </h2>
          <p class="textblue muli-light offset-top-20">
            {% if lang == 'en' %}
              Why you’re in the right business.
            {% else %}
              Por qué estás en el negocio correcto.
            {% endif %}  
          </p>
        </div>
        <div class="row offset-top-30">
          <div class="col-md-12 text-center">
            <div class="col-md-4">
              <img src="/public/img/info1.png" class="imgnormal">
              <p class="textgraydark muli-italic font18 offset-top-20">
                {% if lang == 'en' %}
                  "88% of people are willing to pay more for healthier foods". 
                {% else %}
                  "88% de las personas estan dispuestas a pagar más por alimentos saludables."
                {% endif %}
              <br><span class="textgreen muli-bold">Forbes 2017</span>
              </p>
            </div>
            <div class="col-md-4">
              <img src="/public/img/info2.png" class="imgnormal">
              <p class="textgraydark muli-italic font18 offset-top-20">
                {% if lang == 'en' %}
                  "Global sales of healthy food products are estimated to reach $1 trillions by 2017."
                {% else %}
                  "Para el 2017, las ventas globales de alimentos saludables llegarán a un trillón de dolares."
                {% endif %}
              .<br><span class="textgreen muli-bold">Forbes 2017</span></p>
            </div>
            <div class="col-md-4">
              <img src="/public/img/info3.png" class="imgnormal">
              <p class="textgraydark muli-italic font18 offset-top-20">
                {% if lang == 'en' %}
                  "7 out of 10 Colombians desire to be slim and healthy by eating healthier foods". 
                {% else %}
                  "7 de cada 10 colombianos desean bajar de peso y ser más saludables."
                {% endif %}
              <br><span class="textgreen muli-bold">Nielsen 2017</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-image-06 section-70 section-100-down">
        <h2 class="montserrat-bold textwhite">
          {% if lang == 'en' %}
            Businesses
          {% else %}
            Negocios
          {% endif %}
        </h2>
        <div class="separator separatorgreen"></div>
        <p class="texttype  muli">
          {% if lang == 'en' %}
            Get your favorite healthy brands delivered to your business.
          {% else %}
            Entregamos todas tus marcas favoritas directamente a tu negocio.
          {% endif %}
        </p>
        <div class="row">
          <div class="cont90 cont80mobile">
            <div class="flexslider">
              <ul class="slides">
                {% for business in businesses %}
                  <li style="width:100%!important;margin:0!important;">
                    <div class="cont70">
                      <p class="textbig montserrat-extra-bold"><span class="textblue muli-bold-italic">"</span>{{business.post_content|convert_encoding('UTF-8', 'ISO-8859-1')}}<span class="textblue muli-bold-italic">"</span></p>
                      <button class="whitebut montserrat-semi-bold offset-top-30 signup">
                        {% if lang == 'en' %}
                          SIGN UP
                        {% else %}
                          REGISTRARSE
                        {% endif %}
                      </button>
                    </div>
                  </li>
                {% endfor %}
               </ul>
            </div>  
          </div>
        </div>
        <div class="row offset-top-70">
          <div class="cont90">
          <h3 class="montserrat-bold textwhite margintop marginbottomsmall">
            {% if lang == 'en' %}
              What our clients say...
            {% else %}
              Lo que dicen nuestros clientes...
            {% endif %}
          </h3>
            <div class="col-md-4 marginbottommobile text-center">
              <div class="separator separatorgreen"></div>
              <div class="cont75">
                <img src="/public/img/clickclack.png" class="imgnormal">
              </div>
              <h3 class="montserrat-bold">Sergio Saavedra</h3>
              <div class="row">
                <p class="offset-top-20 muli-semibold-italic textgreen">
                  {% if lang == 'en' %}
                    General Manager | Click Clack Hotel
                  {% else %}
                    Director General | Hotel Click Clack
                  {% endif %}
                </p>
              </div>
              <p class="offset-top-30">
                {% if lang == 'en' %}
                  “Through SuperFüds, we’ve accessed a wide range of healthy local products with an impeccable presentation that our clients love”.
                {% else %}
                  "Por medio de SuperFüds hemos accedido a un amplio portafolio de productos locales, altamente saludables con presentación impecable que los clientes de Click Clack han sabido disfrutar".
                {% endif %}
              </p>
            </div>
            <div class="col-md-4 marginbottommobile text-center">
              <div class="separator separatorgreen"></div>
              <div class="cont75">
                <img src="/public/img/farmatodo.png" class="imgnormal">
              </div>
              <h3 class="montserrat-bold">Teodoro Zubillaga</h3>
              <div class="row">
                <p class="offset-top-10 muli-semibold-italic textgreen">
                  {% if lang == 'en' %}
                    Country Manager | Farmatodo
                  {% else %}
                    Country Manager | Farmatodo
                  {% endif %}                    
                </p>
              </div>
              <p class="offset-top-30">
                {% if lang == 'en' %}
                  “Through SuperFüds we can offer our clients the best options for a healthy lifestyle. With their products we expanded our offer of health care and satisfied the needs and taste of our clients”.
                {% else %}
                  "A través de SuperFüds ahora podemos brindar las mejores opciones para una alimentación saludable, con ellos ampliamos nuestra oferta para el cuidado integral de la salud y de esta forma estamos satisfaciendo las necesidades y gustos de nuestros clientes".
                {% endif %}                  
              </p>
              </div>
            <div class="col-md-4 marginbottommobile text-center">
              <div class="separator separatorgreen"></div>
              <div class="cont75">
                <img src="/public/img/rappi.png" class="imgnormal">
              </div>
              <h3 class="montserrat-bold">Simon Borrero</h3>
              <div class="row">
                <p class="muli-semibold-italic textgreen">
                  {% if lang == 'en' %}
                    CEO | Rappi
                  {% else %}
                    CEO | Rappi
                  {% endif %}                   
                </p>
              </div>
              <p class="offset-top-30">
              {% if lang == 'en' %}
                “We made an alliance with SuperFüds because they are the leaders in the healthy food market in Colombia and we trust their supplier selection to offer our clients the best products in the market”.
              {% else %}
                "Hicimos esta alianza con SuperFüds por que lideran en Colombia el mercado de alimentos saludables y confiamos en su selección de proveedores para ofrecerle a nuestros clientes los mejores productos del mercado".
              {% endif %}               
              </p>                
            </div>
          </div>           
        </div>
      </section>
      <section class="bg-white section-70">
        <h2 class="montserrat-bold textblue">
          {% if lang == 'en' %}
            Our Products
          {% else %}
            Nuestros Productos
          {% endif %}
          </h2>
        <div class="separator separatorgreen"></div>
        <p class="texttype textblue muli">
          {% if lang == 'en' %}
            Get your favorite healthy brands delivered to your business.
          {% else %}
            Entregamos todas tus marcas saludables favoritas directamente a tu negocio.
          {% endif %}
        </p>
        <div class="dissapearmobile">
          <div class="row offset-top-70">
            <div class="col-md-1 col-xs-0"></div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/aceites"><img class="img" src="/public/img/cat1.png" alt="ACEITES Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                OILS
              {% else %}
                ACEITES
              {% endif %}              
              </p>
            </div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/bebidas"><img class="img" src="/public/img/cat2.png" alt="BEBIDAS Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                DRINKS
              {% else %}
                BEBIDAS
              {% endif %}
              </p>
            </div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/cereales"><img class="img" src="/public/img/cat3.png" alt="CEREALES Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                CEREALS
              {% else %}
                CEREALES
              {% endif %}
              </p>
            </div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/chocolateria"><img class="img" src="/public/img/cat14.png" alt="CHOCOLATERÍA Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                CHOCOLATES
              {% else %}
                CHOCOLATERÍA
              {% endif %}              
              </p>
            </div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/despensa"><img class="img" src="/public/img/despensa.png" alt="DESPENSA Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                PANTRY
              {% else %}
                DESPENSA
              {% endif %}
              </p>
            </div>
            <div class="col-md-0 col-xs-3 marginbottommobile"></div>
          </div>
          <div class="row offset-top-70">
            <div class="col-md-1 col-xs-0"></div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/endulzantes"><img class="img" src="/public/img/cat4.png" alt="DESPENSA Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                SWEETENERS
              {% else %}
                ENDULZANTES
              {% endif %}
              </p>
            </div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/frutos-secos-y-deshidratados"><img class="img" src="/public/img/cat6.png" alt="FRUTOS SECOS &amp; DESHIDRATADOS Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                NUTS &AMP; DEHYDRATED
              {% else %}
                FRUTOS SECOS &amp; DESHIDRATADOS
              {% endif %}              
              </p>
            </div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/galleteria"><img class="img" src="/public/img/galleteria.png" alt="GALLETERÍA Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">          
              {% if lang == 'en' %}
                COOKIES
              {% else %}
                GALLETERÍA
              {% endif %}
              </p>
            </div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/linea-fit"><img class="img" src="/public/img/cat15.png" alt="LÍNEA FIT Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                FIT LINE
              {% else %}
                LÍNEA FIT
              {% endif %}              
              </p>
            </div>  
            <div class="col-md-2 col-xs-6">              
              <a href="/products/snacks"><img class="img" src="/public/img/cat12.png" alt="SNACKS Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">SNACKS</p>
            </div>       
          </div>
          <div class="row offset-top-70">  
            <div class="col-md-4 col-xs-0"></div>  
            <div class="col-md-2 col-xs-6">              
              <a href="/products/superalimentos"><img class="img" src="/public/img/cat13.png" alt="SUPERALIMENTOS Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20" style="{% if lang == 'es' %}position:relative;right:4px;{% endif %}">
              {% if lang == 'en' %}
                SUPERFOODS
              {% else %}
                SUPERALIMENTOS
              {% endif %}                
              </p>
            </div> 
            <div class="col-md-2 col-xs-6">              
              <a href="/products/tes-infusiones"><img class="img" src="/public/img/tes.png" alt="TES &AMP; INFUSIONES Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                TEAS &AMP; INFUSIONS
              {% else %}
                TES &AMP; INFUSIONES
              {% endif %}              
              </p>
            </div>              
          </div>
        </div>
        <div class="cont90 showmobile">
            <div class="row offset-top-70">
              <div class="col-xs-6">              
                <a href="/products/aceites"><img class="img" src="/public/img/cat1.png" alt="ACEITES Superfuds" /></a>
                <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                  {% if lang == 'en' %}
                    OILS
                  {% else %}
                    ACEITES
                  {% endif %}
                </p>
              </div>
              <div class="col-xs-6">              
                <a href="/products/bebidas"><img class="img" src="/public/img/cat2.png" alt="BEBIDAS Superfuds" /></a>
                <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                  {% if lang == 'en' %}
                    DRINKS
                  {% else %}
                    BEBIDAS
                  {% endif %}
                </p>
              </div>
            </div>
              <div class="row offset-top-40">
                <div class="col-xs-6">              
                  <a href="/products/cereales"><img class="img" src="/public/img/cat3.png" alt="CEREALES Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                    {% if lang == 'en' %}
                      CEREALS
                    {% else %}
                      CEREALES
                    {% endif %}
                  </p>
                </div>
                <div class="col-xs-6">              
                  <a href="/products/chocolateria"><img class="img" src="/public/img/cat14.png" alt="CHOCOLATERÍA Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                    {% if lang == 'en' %}
                      CHOCOLATES
                    {% else %}
                      CHOCOLATERÍA
                    {% endif %}
                  </p>
                </div>
              </div>
              <div class="row offset-top-40">
                <div class="col-xs-6">              
                  <a href="/products/endulzantes"><img class="img" src="/public/img/cat4.png" alt="ENDULZANTES Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                    {% if lang == 'en' %}
                      SWEETENERS
                    {% else %}
                      ENDULZANTES
                    {% endif %}
                  </p>
                </div>
                <div class="col-xs-6">              
                  <a href="/products/despensa"><img class="img" src="/public/img/despensa.png" alt="DESPENSA Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                    {% if lang == 'en' %}
                      PANTRY
                    {% else %}
                      DESPENSA
                    {% endif %}
                  </p>
                </div>
              </div>
              <div class="row offset-top-40">
                <div class="col-xs-6">              
                  <a href="/products/frutos-secos-y-deshidratados"><img class="img" src="/public/img/cat6.png" alt="FRUTOS SECOS &amp; DESHIDRATADOS Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                    {% if lang == 'en' %}
                      NUTS &AMP; DEHYDRATED
                    {% else %}
                      FRUTOS SECOS &amp; DESHIDRATADOS
                    {% endif %} 
                  </p>
                </div>
                <div class="col-xs-6">              
                  <a href="/products/galleteria"><img class="img" src="/public/img/galleteria.png" alt="GALLETERÍA Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                    {% if lang == 'en' %}
                      COOKIES
                    {% else %}
                      GALLETERÍA
                    {% endif %}
                  </p>
                </div>
              </div>
              <div class="row offset-top-40">
               <div class="col-xs-6">              
                <a href="/products/superalimentos"><img class="img" src="/public/img/cat13.png" alt="SUPERALIMENTOS Superfuds" /></a>
                <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                  {% if lang == 'en' %}
                    SUPERFOODS
                  {% else %}
                    SUPERALIMENTOS
                  {% endif %} 
                </p>
              </div> 
                <div class="col-xs-6">              
                  <a href="/products/linea-fit"><img class="img" src="/public/img/cat15.png" alt="LÍNEA FIT Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                    {% if lang == 'en' %}
                      FIT LINE
                    {% else %}
                      LÍNEA FIT
                    {% endif %} 
                  </p>
                </div> 
              </div>
              <div class="row offset-top-40">
                <div class="col-xs-6">              
                  <a href="/products/tes-infusiones"><img class="img" src="/public/img/tes.png" alt="TES &AMP; INFUSIONES Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                    {% if lang == 'en' %}
                      TEAS &AMP; INFUSIONS
                    {% else %}
                      TES &AMP; INFUSIONES
                    {% endif %}
                  </p>
                </div>
                <div class="col-xs-6">              
                  <a href="/products/snacks"><img class="img" src="/public/img/cat12.png" alt="SNACKS Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">SNACKS</p>
                </div>
              </div>
              
            </div>
        </div>
          <div class="row text-center offset-top-70">  
            <a href="" class="boton signup" style="display:inline-block;margin-bottom:30px;">
              {% if lang == 'en' %}
                SIGN UP
              {% else %}
                REGISTRARSE
              {% endif %}
            </a>
          </div>
        </div>
      </section>
      <section class="bg-image-06 text-center section-70 section-100-down">
        <h2 class="montserrat-bold textwhite">
          {% if lang == 'en' %}
            Suppliers
          {% else %}
            Proveedores
          {% endif %}
        </h2>
        <div class="separator separatorgreen"></div>
        <p class="texttype muli">
          {% if lang == 'en' %}
            Focus in your product, we'll take care of your business.
          {% else %}
            Concéntrate en tu producto, nosotros nos encargamos del negocio.
          {% endif %}
        </p>
        <div class="row">
          <div class="cont90 cont80mobile">
            <div class="flexslider">
              <ul class="slides">
                {% for supplier in suppliers %}
                <li style="width:100%!important;margin:0!important;">
                  <div class="cont70">
                    <p class="textbignormal montserrat-extra-bold"><span class="textblue muli-bold-italic">"</span>{{supplier.post_content|convert_encoding('UTF-8', 'ISO-8859-1')}}<span class="textblue muli-bold-italic">"</span></p>
                    <button class="whitebut montserrat-semi-bold offset-top-30 signup" style="margin-top:30px;">
                      {% if lang == 'en' %}
                        SIGN UP
                      {% else %}
                        REGISTRARSE
                      {% endif %}
                    </button>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="cont90">
              <h3 class="montserrat-bold textwhite margintop marginbottomsmall">
                {% if lang == 'en' %}
                    What our suppliers say...
                  {% else %}
                    Lo que dicen nuestros proveedores...  
                {% endif %}
              </h3>
              <div class="col-md-4 marginbottommobile text-center">                  
                <div class="separator separatorgreen"></div>
                <div class="cont75">
                  <img src="/public/img/terrafertil.png" class="imgnormal">
                </div>
                <h3 class="montserrat-bold text">Raul Bermeo</h3>
                <div class="row text-center">
                  <p class="offset-top-20 muli-semibold-italic textgreen marginboth">
                  {% if lang == 'en' %}
                      CEO | Terrafertil
                  {% else %}
                      Director General | Terrafertil
                  {% endif %}                    
                  </p>
                </div>
                <p class="offset-top-30">
                  {% if lang == 'en' %}
                      “Working with SuperFüds is a great opportunity to join different markets that complement our brands. They have the energy and attitude to work on new projects”.
                  {% else %}
                      "Trabajar con SuperFüds es una oportunidad de ingresar a mercados diferentes que van a la vanguardia de nuestra marca, tienen la energía y la actitud para sacar proyectos nuevos".
                  {% endif %}                     
                </p>
              </div>
              <div class="col-md-4 marginbottommobile text-center">                  
                <div class="separator separatorgreen"></div>
                <div class="cont75">
                  <img src="/public/img/chocolov.png" class="imgnormal">
                </div>
                <h3 class="montserrat-bold text">Adriana Hoyos</h3>
                <div class="row">
                  <p class="offset-top-20 muli-semibold-italic textgreen marginboth">
                  {% if lang == 'en' %}
                    CEO | Chocolov
                  {% else %}
                    Gerente General | Chocolov
                  {% endif %}                     
                  </p>
                </div>
                <p class="offset-top-30">
                {% if lang == 'en' %}
                    “Through SuperFüds we’ve expanded our business by reaching more clients and expanding our coverage to different cities in Colombia. They’re the only specialized ally in their category and have a broad vision of B2B and B2C thanks to their constant search and implementation of tools to generate new businesses”.
                {% else %}
                    "A través de SuperFüds hemos expandido nuestro negocio, llegando a muchos más clientes en diferentes ciudades de Colombia y logrando masificar nuestros productos. Son un aliado que además de ser los únicos especializados en su categoría, tienen una amplia visión sobre el B2B y B2C ya que están en la constante búsqueda e implementación de herramientas para generar nuevos negocios".
                {% endif %}                  
                </p>
              </div>
              <div class="col-md-4 marginbottommobile text-center">                  
                <div class="separator separatorgreen"></div>
                <div class="cont75">
                  <img src="/public/img/segalco.png" class="imgnormal">
                </div>
                <h3 class="montserrat-bold text">Javier Pinilla</h3> 
                <div class="row">
                  <p class="offset-top-20 muli-semibold-italic textgreen marginboth">
                  {% if lang == 'en' %}
                    Sales Director | Segalco
                  {% else %}
                    Director Comercial | Segalco
                  {% endif %}                      
                  </p>
                </div>                 
                <p class="offset-top-30">
                {% if lang == 'en' %}
                    “Working with SuperFüds has been an interesting experience. We’ve been able to reach new niche markets that interest us, reaching the point we have always wanted. Their drive for distributing to sales points with various products make the business profitable to all players”.
                {% else %}
                    "Trabajar con SuperFüds ha sido una experiencia interesante, hemos podido aperturar unos mercados de nicho que nos interesaba y hemos llegado a puntos donde no habíamos podido llegar. Su drive haciendo distribución punto a punto con varios productos hace que el negocio sea rentable para todos los jugadores."
                {% endif %}                  
                </p>  
              </div>  
            </div>             
        </div>
      </section>

{{ include('inc/_footer.twig') }}