{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head2.twig') }}

	<section class="bg-gray-lighter">
          <div class="shell text-left">
            <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li class="active">Thank You
              </li>
            </ol>
          </div>
        </section>
        <section class="section-top-120 section-bottom-80">
          <div class="shell text-md-left">
            <div class="text-center">
              <h1 class="montserrat-bold margintop0">Thank You</h1>
              <div class="separator separatorgreen"></div>
              <div class="cont70">
                <p class="textblue offset-top-40">You're close to offering the best healthy products to your clients!</p>
                <a href="/blog" class="buttongreen btn offset-top-30">Read Awesome News</a>
              </div>
            </div>
          </div>
        </section>

{{ include('inc/_footer.twig') }}