{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head2.twig') }}

	<section class="bg-gray-lighter">
          <div class="shell text-left">
            <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li class="active">Thank You
              </li>
            </ol>
          </div>
        </section>
        <section class="section-70">
          <div class="shell text-md-left">
            <div class="text-center">
              <h1 class="montserrat-bold margintop0">Login</h1>
              <div class="separator separatorgreen"></div>
              <div class="cont70">
              {% if errors|length > 0 %}
                {% for error in errors %}
                    <p class="textgraydark">{{error}}</p>
                {% endfor %}
              {% endif %}
                <form action="/leads" method="POST" class="offset-top-30">
                  <input type="text" name="username" placeholder="Username">
                  <input type="password" name="password" placeholder="Password">
                  <input type="submit" value="Ingresar">
                </form>
              </div>
            </div>
          </div>
        </section>

{{ include('inc/_footer.twig') }}