{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head2.twig') }}

	<section class="bg-gray-lighter">
          <div class="shell text-left">
            <ol class="breadcrumb">
              <li><a href="./">Home</a></li>
              {% if accion == 'todos' %}
              	<li class="active">Products</li>
              {% else %}
              	 <li><a href="/products">Products</a></li>
              	 <li class="active">Categoría</li>
              {% endif %}
            </ol>
          </div>
        </section>
        <section class="bg-white section-120">

        {% if accion == 'todos' %}

          <h2 class="montserrat-bold textblue">            
            {% if lang == 'en' %}
              Our Products
            {% else %}
              Nuestros Productos
            {% endif %}
          </h2>
          <div class="separator separatorgreen"></div>
          <p class="texttype textblue muli">
            {% if lang == 'en' %}
              Get your favorite healthy brands delivered to your business.
            {% else %}
              Entregamos todas tus marcas saludables favoritas directamente a tu negocio.
            {% endif %}
          </p>
          <div class="dissapearmobile">
          <div class="row offset-top-70">
            <div class="col-md-1 col-xs-0"></div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/aceites"><img class="img" src="/public/img/cat1.png" alt="ACEITES Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                OILS
              {% else %}
                ACEITES
              {% endif %}              
              </p>
            </div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/bebidas"><img class="img" src="/public/img/cat2.png" alt="BEBIDAS Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                DRINKS
              {% else %}
                BEBIDAS
              {% endif %}
              </p>
            </div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/cereales"><img class="img" src="/public/img/cat3.png" alt="CEREALES Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                CEREALS
              {% else %}
                CEREALES
              {% endif %}
              </p>
            </div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/chocolateria"><img class="img" src="/public/img/cat14.png" alt="CHOCOLATERÍA Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                CHOCOLATES
              {% else %}
                CHOCOLATERÍA
              {% endif %}              
              </p>
            </div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/despensa"><img class="img" src="/public/img/despensa.png" alt="DESPENSA Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                PANTRY
              {% else %}
                DESPENSA
              {% endif %}
              </p>
            </div>
            <div class="col-md-0 col-xs-3 marginbottommobile"></div>
          </div>
          <div class="row offset-top-70">
            <div class="col-md-1 col-xs-0"></div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/endulzantes"><img class="img" src="/public/img/cat4.png" alt="DESPENSA Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                SWEETENERS
              {% else %}
                ENDULZANTES
              {% endif %}
              </p>
            </div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/frutos-secos-y-deshidratados"><img class="img" src="/public/img/cat6.png" alt="FRUTOS SECOS &amp; DESHIDRATADOS Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                NUTS &AMP; DEHYDRATED
              {% else %}
                FRUTOS SECOS &amp; DESHIDRATADOS
              {% endif %}              
              </p>
            </div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/galleteria"><img class="img" src="/public/img/galleteria.png" alt="GALLETERÍA Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">          
              {% if lang == 'en' %}
                COOKIES
              {% else %}
                GALLETERÍA
              {% endif %}
              </p>
            </div>
            <div class="col-md-2 col-xs-6">              
              <a href="/products/linea-fit"><img class="img" src="/public/img/cat15.png" alt="LÍNEA FIT Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                FIT LINE
              {% else %}
                LÍNEA FIT
              {% endif %}              
              </p>
            </div>  
            <div class="col-md-2 col-xs-6">              
              <a href="/products/snacks"><img class="img" src="/public/img/cat12.png" alt="SNACKS Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">SNACKS</p>
            </div>       
          </div>
          <div class="row offset-top-70">  
            <div class="col-md-4 col-xs-0"></div>  
            <div class="col-md-2 col-xs-6">              
              <a href="/products/superalimentos"><img class="img" src="/public/img/cat13.png" alt="SUPERALIMENTOS Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20" style="{% if lang == 'es' %}position:relative;right:4px;{% endif %}">
              {% if lang == 'en' %}
                SUPERFOODS
              {% else %}
                SUPERALIMENTOS
              {% endif %}                
              </p>
            </div> 
            <div class="col-md-2 col-xs-6">              
              <a href="/products/tes-infusiones"><img class="img" src="/public/img/tes.png" alt="TES &AMP; INFUSIONES Superfuds" /></a>
              <p class="textgraydark muli-bold nomcat offset-top-20">
              {% if lang == 'en' %}
                TEAS &AMP; INFUSIONS
              {% else %}
                TES &AMP; INFUSIONES
              {% endif %}              
              </p>
            </div>              
          </div>
        </div>
        <div class="cont90 showmobile">
            <div class="row offset-top-70">
              <div class="col-xs-6">              
                <a href="/products/aceites"><img class="img" src="/public/img/cat1.png" alt="ACEITES Superfuds" /></a>
                <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                  {% if lang == 'en' %}
                    OILS
                  {% else %}
                    ACEITES
                  {% endif %}
                </p>
              </div>
              <div class="col-xs-6">              
                <a href="/products/bebidas"><img class="img" src="/public/img/cat2.png" alt="BEBIDAS Superfuds" /></a>
                <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                  {% if lang == 'en' %}
                    DRINKS
                  {% else %}
                    BEBIDAS
                  {% endif %}
                </p>
              </div>
            </div>
              <div class="row offset-top-40">
                <div class="col-xs-6">              
                  <a href="/products/cereales"><img class="img" src="/public/img/cat3.png" alt="CEREALES Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                    {% if lang == 'en' %}
                      CEREALS
                    {% else %}
                      CEREALES
                    {% endif %}
                  </p>
                </div>
                <div class="col-xs-6">              
                  <a href="/products/chocolateria"><img class="img" src="/public/img/cat14.png" alt="CHOCOLATERÍA Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                    {% if lang == 'en' %}
                      CHOCOLATES
                    {% else %}
                      CHOCOLATERÍA
                    {% endif %}
                  </p>
                </div>
              </div>
              <div class="row offset-top-40">
                <div class="col-xs-6">              
                  <a href="/products/endulzantes"><img class="img" src="/public/img/cat4.png" alt="ENDULZANTES Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                    {% if lang == 'en' %}
                      SWEETENERS
                    {% else %}
                      ENDULZANTES
                    {% endif %}
                  </p>
                </div>
                <div class="col-xs-6">              
                  <a href="/products/despensa"><img class="img" src="/public/img/despensa.png" alt="DESPENSA Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                    {% if lang == 'en' %}
                      PANTRY
                    {% else %}
                      DESPENSA
                    {% endif %}
                  </p>
                </div>
              </div>
              <div class="row offset-top-40">
                <div class="col-xs-6">              
                  <a href="/products/frutos-secos-y-deshidratados"><img class="img" src="/public/img/cat6.png" alt="FRUTOS SECOS &amp; DESHIDRATADOS Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                    {% if lang == 'en' %}
                      NUTS &AMP; DEHYDRATED
                    {% else %}
                      FRUTOS SECOS &amp; DESHIDRATADOS
                    {% endif %} 
                  </p>
                </div>
                <div class="col-xs-6">              
                  <a href="/products/galleteria"><img class="img" src="/public/img/galleteria.png" alt="GALLETERÍA Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                    {% if lang == 'en' %}
                      COOKIES
                    {% else %}
                      GALLETERÍA
                    {% endif %}
                  </p>
                </div>
              </div>
              <div class="row offset-top-40">
               <div class="col-xs-6">              
                <a href="/products/superalimentos"><img class="img" src="/public/img/cat13.png" alt="SUPERALIMENTOS Superfuds" /></a>
                <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                  {% if lang == 'en' %}
                    SUPERFOODS
                  {% else %}
                    SUPERALIMENTOS
                  {% endif %} 
                </p>
              </div> 
                <div class="col-xs-6">              
                  <a href="/products/linea-fit"><img class="img" src="/public/img/cat15.png" alt="LÍNEA FIT Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                    {% if lang == 'en' %}
                      FIT LINE
                    {% else %}
                      LÍNEA FIT
                    {% endif %} 
                  </p>
                </div> 
              </div>
              <div class="row offset-top-40">
                <div class="col-xs-6">              
                  <a href="/products/tes-infusiones"><img class="img" src="/public/img/tes.png" alt="TES &AMP; INFUSIONES Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">
                    {% if lang == 'en' %}
                      TEAS &AMP; INFUSIONS
                    {% else %}
                      TES &AMP; INFUSIONES
                    {% endif %}
                  </p>
                </div>
                <div class="col-xs-6">              
                  <a href="/products/snacks"><img class="img" src="/public/img/cat12.png" alt="SNACKS Superfuds" /></a>
                  <p class="textgraydark muli-bold nomcat muli-bold offset-top-20">SNACKS</p>
                </div>
              </div>
              
            </div>
        </div>

          {% else %}

	          <h2 style="text-transform:capitalize;" class="montserrat-bold textblue">
              {% if lang == 'en' %}
                {{categoria}}
              {% else %}
                {{categoria}}
              {% endif %}
            </h2>
	          <div class="separator separatorgreen"></div>
	          <p class="texttype textblue muli">
              {% if lang == 'en' %}
                Get your favorite healthy brands delivered to your business.
              {% else %}
                Entregamos todas tus marcas saludables favoritas directamente a tu negocio.
              {% endif %}              
            </p>
	          <div class="row iconcats">
              <div class="cont90 cont80mobile">
  	            <div class="col-sm-1 col-xs-4 icdiv col-sm-offset-25 col-xs-offset-0">
  	              <span class="icon-gluten-free gluten"></span>
  	              <p class="textgraydark muli-bold textsmall">Gluten Free</p>
  	            </div>
  	            <div class="col-sm-1 col-xs-4 icdiv">
  	              <span class="icon-vegan vegan"></span>
  	              <p class="textgraydark muli-bold textsmall">Vegan</p>
  	            </div>
  	            <div class="col-sm-1 col-xs-4 icdiv">
  	              <span class="icon-non-gmo gmo"></span>
  	              <p class="textgraydark muli-bold textsmall">Non Gmo</p>
  	            </div>
  	            <div class="col-sm-1 col-xs-4 icdiv">
  	              <span class="icon-organic organic"></span>
  	              <p class="textgraydark muli-bold textsmall">Organic</p>
  	            </div>
  	            <div class="col-sm-1 col-xs-4 icdiv">
  	              <span class="icon-paleo paleo"></span>
  	              <p class="textgraydark muli-bold textsmall">Paleo</p>
  	            </div>
  	            <div class="col-sm-1 col-xs-4 icdiv">
  	              <span class="icon-no-trans trans"></span>
  	              <p class="textgraydark muli-bold textsmall">No Trans</p>
  	            </div>
  	            <div class="col-sm-1 col-xs-4 icdiv">
  	              <span class="icon-no-sugar-added sugar"></span>
  	              <p class="textgraydark muli-bold textsmall">No Sugar</p>
  	            </div>
              </div>
	          </div>
	          <div class="cont90">
	            <div class="row offset-top-70">

                {% if products|length > 0 %}
  	            	{% for i in 0..(products|length)-1 %}                    
  	            	    <div class="col-md-2 col-xs-6 productosdiv">              
  			                <img class="img" src="{{products[i].img}}" alt="Superfuds | {{products[i].name}}" />
  			                <p class="textgraydark muli-bold font20 offset-top-20">{{products[i].name|convert_encoding('UTF-8', 'ISO-8859-1')}}</p>
  			                {{products[i].sub_cats | raw}}
                      </div>
                        {% if i % 6 == 5 %}
                          </div><div class="row">
                        {% endif %}
  	            	{% endfor %}	
                {% else %}
                  <div class="text-center">
                    <p class="text-center textgraydark">
                      {% if lang == 'en' %}
                        No products in this category
                      {% else %}
                        No hay productos en esta categoría
                      {% endif %} 
                    </p>
                  </div>
                {% endif %}               
	            </div>
              <div class="row text-center">
                <a href="/products" class="buttongreen btn offset-top-30">
                  {% if lang == 'en' %}
                    Back to Products
                  {% else %}
                    Volver a Productos
                  {% endif %} 
              
                </a>
              </div>

            </div>

          {% endif %}

        </section>

{{ include('inc/_footer.twig') }}