{#Inlude the <head> tag in the file #}
{#this is done here so that the include has access to all the template variables#}
{{ include('inc/_head2.twig') }}

	<section class="section-80">
      	<div class="shell text-md-left">
	        <h3>Search results for: <span class="textgraydark">{{query}}</span></h3>
	        <div class="offset-top-40 rd-search-results text-left"></div>
      	</div>
    </section>

{{ include('inc/_footer.twig') }}